/* Style the navbar */
.header {
  overflow: hidden;
  position: sticky;
  top: 0;
}

/* Navbar links */
.header a {
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.navbar-top {
  position: relative;
  height: 4em;
  min-width: 100vw;
  max-width: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20em auto 15em;
  background-color: #687864;
}

.navbar-bottom {
  text-align: center;
  height: 3em;
  min-width: 100vw;
  max-width: 1500px;
  margin: 0 auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/*---------------------------------------------- HOME PAGE -----------------------*/
.home-page {
  height: 1000px;
  max-width: 850px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.home-page > div {
  height: 200px;
  width: 2526px;
  background: url(https://i.imgur.com/1krQqjk.jpeg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}
